*{
  padding: 0;
  margin: 0;
}
.main{
  width: 100%;
}
.divbar{
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;  
  position: fixed;
  border-bottom: 3px solid #DC392D;
}
.navbar{
  width: 100%;
  height: 70px;
background-color: #F8F9FA;
}
.nav-list{
  float: left;
  margin-left: 130px;
  margin-right: 70px;
  margin-top: 22px;
  font-size: x-large;
  text-decoration: none;
}
.nav-list1{
  float: left;
  margin-right: 20px;
  font-size: larger;
  margin-top: 25px;
  text-decoration: none;
}
.listitems2{
  list-style: none;
  margin-top: 8px;

}
.listitems1{
  list-style: none;
}
.listitems3{
  position: relative;
  display: none;
}
.listitems1:hover .listitems3 {
  position: absolute;
  display: block;
  top: 125px;
  width: 150px;
  height: 100px;
  border-radius: 5px;
  bottom: 10px;
  color: black;
  border: 2px solid whitesmoke;
  text-align:center;
  background-color: #FFFFFF;
}
.listitems2:hover{
  background-color: darkgrey;
}
.btn{
  margin-left: 40%;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 7px;
  font-size:medium;
  border: 1px solid black;
}
.spntag{
  background-color: black;
  color: white;
  padding: 5px 8px;
  margin-left: 4px;
  border-radius: 14px;
}
a{
  text-decoration: none;
  color: black;
}
.btn:hover{
  background-color: black;
  color: white;
}
.stylebar
{
  width: 100%;
  height: 200px;
  padding: 50px 0px;
  background-color: #212529;
  color: #FFFFFF;
  text-align: center;
}
h1{
  font-size: 65px;
}
.style-bar{
  margin-top: 20px;
  font-size: x-large;
  opacity: 0.7;
}
.maindiv{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
}
.carddiv{
  width: 21%;
  height: 365px;
  background-color:#FFFFFF;
  border: 1px solid gainsboro;
  border-radius: 10px;
  position: relative;
}
.topcard{

}
.imgtag{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.product{
  text-align: center;
  margin-top: 28px;
}
.pro-btn{
  text-align: center;
  padding: 9px 13px;
  border: 1px solid black;
  background-color: white;
  font-size:medium;
  margin-top: 25px;
  border-radius: 7px;
}
.dollar{
  margin-top: 13px;
  font-size: large;
}
.star{
  margin-top: 4px;
}
.fancy-btn{
  text-align: center;
  padding: 9px 13px;
  border: 1px solid black;
  background-color: white;
  font-size:medium;
  border-radius: 7px;
}
.sale-btn{
  text-align: center;
  padding: 9px 13px;
  border: 1px solid black;
  background-color: white;
  font-size:medium;
  border-radius: 7px;
  margin-top: 24px;
}
.strike{
  opacity: 0.7;
}
.floatingsale{
  width: 50px;
  padding: 1.7px 0px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  right:10px;
  top: 10px;
}
.footer{
  background-color:#212529;
  margin-top: 30%;
  color: white;
  text-align: center;
  height: 120px;
}
.fttag{
  padding: 50px;
  font-size: large;
}
.overview{
  opacity: 0.5;
  padding: 7px 9px;
  background-color:white;
  border: none;
  border-radius: 3px;
  margin-top: 21px;
  margin-left: 23px;
  display: inline;
  margin-right:420px;
}
.overview:hover{
  background-color: gainsboro;
}
.icon{
  display: inline;
  margin-left: 30px;
  position: relative;
}
.desktop{
  position: absolute;
  display: none;
}
.icon:hover .desktop {
  display: block;
  background-color: #212529;
}
.image{
  width: 20px;
  height: 20px;
  margin-left: 400px;
}
.download{
  width: 12px;
  height: 12px;
  
}
.download-free{
  border: none;
  color:#DC392D;
  padding: 8px 12px;
  border-radius: 3px;
  margin-left: 24px;
  background-color: gainsboro;
}
.X-btn{
  border: none;
  margin-left: 20px;
  background-color: white;
  opacity: 0.5;
  font-size: large;
}